modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 22264
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
FIREBASE_PROJECT_ID = "resumemintai"
FIREBASE_CLIENT_EMAIL = "firebase-adminsdk-fbsvc@resumemintai.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY = "729f0a46933be15272c5ff29e17fdede5c6c7543"
GEMINI_API_KEY = "AIzaSyCwe6r-WCnUy7kES5Wx8FxZKpdA1hqtbTY"
VITE_FIREBASE_PROJECT_ID = "resumemintai-6608b"
VITE_FIREBASE_AUTH_DOMAIN = "resumemintai-6608b.firebaseapp.com"
VITE_FIREBASE_API_KEY = "AIzaSyCUTDcxtYoyKrTSvqXtjXL3qu4HOVCZxWY"
VITE_FIREBASE_STORAGE_BUCKET = "resumemintai-6608b.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "474190422788"
VITE_FIREBASE_APP_ID = "1:474190422788:web:68c3440372e1867a9d2651"
